<div class="full-page-container">
    <div class="full-page-frame">
        <form [formGroup]="loginForm">
            <mat-card *ngIf="loginForm">
                <mat-card-content>
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            type="text"
                            placeholder="{{ 'Login.Username' | translate }}"
                            formControlName="username"
                        />
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input
                            matInput
                            type="password"
                            placeholder="{{ 'Login.Password' | translate }}"
                            formControlName="password"
                        />
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-raised-button
                        type="button"
                        color="primary"
                        class="sign-in"
                        [disabled]="
                            loginForm.valid && !loginForm.pristine
                                ? null
                                : 'disabled'
                        "
                    >
                        {{ 'Login.Login' | translate }}
                    </button>
                    <button mat-button type="button" class="oauth">
                        {{ 'Login.SSO' | translate }}
                    </button>
                    <button
                        mat-button
                        class="oauth"
                        type="button"
                        [routerLink]="['/login/restore']"
                    >
                        {{ 'Login.RestorePassword' | translate }}
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
