<div class="full-page-container">
    <div class="full-page-frame">
        <div class="server-down-container">
            <h2>Oops!</h2>
            <p>
                It appears that our server is currently not responding. Either
                your internet connection is lost or poor, or something went
                wrong on our server. In case an error occurred on our server,
                everything is logged. We're looking in to it...
                <a href="/">Try again</a>
            </p>
        </div>
    </div>
</div>
